@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@font-face {
    font-family: Manrope;
    src: url("./fonts/Manrope-VariableFont_wght.ttf");
}

h1,h2,h3 {
    font-family: 'Bellota', cursive;
}

p {
    font-family: Manrope,sans-serif;
}